.Grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.grid-wrapper{
    display:  flex;
    justify-content: space-evenly;
}
 
 .reset{
    height: 30px;
    border:2px black solid;
    border-radius: 10px;
    background-color:aqua ;
 }
 